.body {
    text-align: center;
}
 
.header {
    background-color: rgba(45, 106, 175, 0.599);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 20px;
}
 
.footer {
    background-color: rgba(45, 106, 175, 0.599);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 20px;
}

